div#head {
    display: flex;
}
div#head > div {
    width: 50%;
    height: 100vh;
}
div#users {
    background-color: darkgreen;
}
div#create {
    background-color: darkred;
}



.number {
    width: 70px;
    padding: 8px;
    font-size: 24px;
    text-align: center;
}
.button {
    padding: 10px 30px;
    font-size: 16px;
     
}

